<div class="eKazou-formations-wrapper wrapper">
  <div class="page-header page-header-small header-filter">
    <div
      class="page-header-image rellax"
      data-parallax="true"
      style="background-image: url('assets/img/ruvim-noga.jpg');"
    ></div>
    <div class="content-center">
      <div class="row">
        <div class="col-md-6 ml-auto mr-auto text-center">
          <h1 class="title">
            Toutes nos formations dans la ville<br />
            {{ nameVilleSelected }}
          </h1>
          <a class="btn btn-primary mt-3" [routerLink]="['/villes']"
            ><i class="tim-icons icon-double-left"></i> Allez sur les villes</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised mb-lg mt-lg">
    <div class="container">
      <div class="row" *ngIf="formations">
        <div class="nav-pills-danger nav-pills-icons nav-pills-lg tab-container">
          <ul class="nav nav-pills">
            <li class="nav-item m-auto" [ngClass]="currentFormation == formation ? 'active' : ''" *ngFor="let formation of formations._embedded.formations; let i=index">
              <a class="nav-link eKazou-formation-ville" [ngClass]="currentFormation == formation ? 'active' : ''" (click)="onGetSalles(formation)">
                <span></span>
                <i class="{{formation.iconFormation}}"></i> {{ formation.name }}
              </a>
            </li>
          </ul>
          <div class="row" *ngIf="salles">
            <div class="col-md-4" *ngFor="let salle of salles._embedded.salles">
              <div class="card">
                <div class="card-header mt-2">
                  <div class="float-left">
                    <i class="fa fa-building d-inline text-info"></i> 
                    <p class="d-inline"> {{salle.name}}</p>
                  </div>
                  <div class="float-right">
                    <div class="dropdown" dropdown>
                      <button
                        aria-expanded="false"
                        class="btn btn-link dropdown-toggle btn-icon dropdown-toggle"
                        data-toggle="dropdown"
                        dropdownToggle
                        type="button"
                      >
                        <i class="tim-icons icon-settings-gear-63"> </i>
                      </button>
                      <div
                        class="dropdown-menu dropdown-menu-right"
                        *dropdownMenu
                        x-placement="bottom-end"
                      >
                        <a class="dropdown-item" href="javascript:void(0)">
                          Action
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                          Another action
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)">
                          Something else
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card-body text-center p-4" *ngIf="salle.projections">
                  <a href="javascript:void(0)">
                    <img
                      alt="Circle image"
                      class="img-fluid rounded-circle shadow eKazou-cours-image"
                      src="{{hostToBackend+'/Formations/getImage/'+salle.projections._embedded.projectionCourses[0].cours.id}}"
                    />
                  </a>
                  <h4 class="card-title mb-0">{{salle.projections._embedded.projectionCourses[0].cours.name}}</h4>
                  <p class="card-description mt-2">
                    {{salle.projections._embedded.projectionCourses[0].cours.description}}
                  </p>
                  <h5 class="card-title mt-4">Nombre de Places: {{salle.numberPlace}}</h5>
                  <div class="avatar-group mt-4">
                    <a title="{{salle.projections._embedded.projectionCourses[0].cours.professor}}"
                      class="avatar avatar-sm rounded-circle"
                      href="#">
                      <img alt="Image placeholder" src="{{salle.projections._embedded.projectionCourses[0].cours.professorImage}}" />
                    </a>
                  </div>
                  <span>Professeur - {{salle.projections._embedded.projectionCourses[0].cours.professor}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
