<div class="eKazou-villes-wrapper wrapper">
    <div class="header header-1">
      <div class="page-header page-header-small header-filter">
        <div
          class="page-header-image rellax"
          data-parallax="true"
          style="background-image: url('assets/img/shop.jpeg');"
        ></div>
        <div class="container">
          <div class="row">
            <div class="col-lg-6 col-md-7 mr-auto text-left">
              <h1 class="title">Nos dernières formations !</h1>
              <br />
              <div class="buttons">
                <a
                  class="btn btn-success btn-round btn-lg mr-3 pulse"
                  href="javascript:void(0)">
                  <i class="tim-icons icon-bag-16"> </i>
                </a>
                <p>Inscrivez-vous maintenant !</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section blogs-2" id="blogs-2" *ngIf="villes">
        <div class="container-fluid">
          <h2 class="title text-center">Des Formations proche de chez vous</h2>
          <br />
          <div class="row">
            <div class="eKazou-formation-ville col-lg-3" *ngFor="let ville of villes._embedded.villes">
              <div
                class="card card-blog card-background"
                data-animation="zooming" (click)="onGetFormations(ville)">
                <div
                  class="full-background"
                  [ngStyle]="{ 'background-image': 'url(' + ville.imageVille + ')'}"></div>
                <div class="card-body">
                  <div class="content-bottom">
                    <h6 class="card-category">Research Byte</h6>
                    <a (click)="onGetFormations(ville)">
                      <h3 class="card-title">{{ville.name}}</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
